<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="mdr" ng-controller="ctr">
     <h1>Uppercase Filter</h1>
     <ul ng-repeat="x in names">
         <li>{{x|uppercase}}</li>
     </ul>
     <h1>Lowercase Filter</h1>
     <ul ng-repeat="x in names">
         <li>{{x|lowercase}}</li>
     </ul>
     <h1>Search Filter</h1>
     <input type="text" placeholder="Enter the name you want to search" ng-model="Searchhere">
     <ul ng-repeat="x in names| filter:Searchhere">
         <li>{{x}}</li>
     </ul>
    <script>
        var app=angular.module("mdr",[]);
        app.controller("ctr",function($scope){
            $scope.names=["Ali Ahsan","Sara Mehmood","Sharukh Saleem","Awais Zahid","Raheel Sikandar"]

        })
    </script>
</body>
</html>